input {
  tcp {
    port => 10051
  }
  tcp {
    port => 10052
    type => "trace"
  }
}

filter {
  if [type] {
    json {
      source => "message"
      remove_field => ["port", "message"]
    }
  } else {
    split {
    }
    grok {
      match => { "message" => "(?<app>[^\t]+)\t(?<type>[^\t]+)\t%{NOTSPACE:data}" }
      remove_field => ["port", "message"]
    }
    split {
      field => "data"
      terminator => "|"
    }
    grok {
      match => { "data" => "%{NOTSPACE:clock}@%{NOTSPACE:value}" }
      remove_field => ["data"]
    }
    date {
      match => [ "clock", "UNIX" ]
      remove_field => ["clock"]
    }
    extractnumbers {
      source => "value"
    }
  }
}

output {
  if "_grokparsefailure" not in [tags] {
    elasticsearch {
       index => "logstash-%{app}-%{+YYYY.MM.dd}"
    }
  }
}
 
