Max\u0020Heap=zorka.jmx("java","java.lang:type=Memory","HeapMemoryUsage","max");120
Used\u0020Heap=zorka.jmx("java","java.lang:type=Memory","HeapMemoryUsage","used");60
Commited\u0020Heap=zorka.jmx("java","java.lang:type=Memory","HeapMemoryUsage","committed");60
Uptime=sample.milis_to_hours(zorka.jmx("java","java.lang:type=Runtime","Uptime"));120
Start\u0020Time=sample.millis_to_date_string(zorka.jmx("java","java.lang:type=Runtime","StartTime"));120
Loaded\u0020Classes=zorka.jmx("java","java.lang:type=ClassLoading","LoadedClassCount");120
Daemon\u0020Threads=zorka.jmx("java","java.lang:type=Threading","DaemonThreadCount");60
Threads=zorka.jmx("java","java.lang:type=Threading","ThreadCount");60
System\u0020Cpu=zorka.jmx("java","java.lang:type=OperatingSystem","SystemCpuLoad")*100;60
Process\u0020Cpu=zorka.jmx("java","java.lang:type=OperatingSystem","ProcessCpuLoad")*100;60

# Garbage Collectors
# GC\u0020New\u0020Activity(%)=nagios.cmdSimple("GcCopy");5
# GC\u0020New\u0020Activity(%)=nagios.cmdSimple("GcParNew");5
# GC\u0020New\u0020Activity(%)=nagios.cmdSimple("GcG1New");5
GC\u0020New\u0020Activity(%)=nagios.cmdSimple("GcScavenge");5
GC\u0020Old\u0020Activity(%)=nagios.cmdSimple("GcMarkSweep");5
# GC\u0020Old\u0020Activity(%)=nagios.cmdSimple("GcConcurrentMarkSweep");5
# GC\u0020Old\u0020Activity(%)=nagios.cmdSimple("GcMarkSweepCompact");5
# GC\u0020Old\u0020Activity(%)=nagios.cmdSimple("GcG1Old");5

# JDK 1.7-
# Perm\u0020Gen=zorka.jmx("java","java.lang:name=Perm Gen,type=MemoryPool","Usage","used");60
# Perm\u0020Gen(%)=jvm.memutil("Perm Gen");60

